@font-face {
    src: url("font-finance.ttf");
}

.titlebar {
	-fx-background-color: #303D47;
}

.titlebar-label {
	-fx-background-color: #303D47;
	-fx-text-fill: white;
}

.group1 {
	-fx-background-color: #8781BD;
	-fx-border-color: #797381;
}

.group2 {
	-fx-background-color: #FFE035;
	-fx-border-color: #FFD803;
}

.group3 {
	-fx-background-color: #89D803;
	-fx-border-color: #71CE47;
}

.group4 {
	-fx-background-color: #FE6262;
	-fx-border-color: #F83B3B;
}

.group5 {
	-fx-background-color: #2DACFF;
	-fx-border-color: #039BFF;
}

.group6 {
	-fx-background-color: #FFA200;
	-fx-border-color: #F29A01;
}

.titlebar-buttons {
	-fx-font-family: "font-finance";
	-fx-background-color: #303D47;
	-fx-text-fill: white;
}
